# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=SEU_BANCO
DB_USER=SEU_USUARIO
DB_PASSWORD=SUA_SENHA
DB_USE_SSL=false
DB_TIMEZONE=America/Sao_Paulo

# JPA
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
JPA_FORMAT_SQL=true

# Runner de testes no startup
APP_STARTUP_TESTS_ENABLED=true
